* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

html {
/*   font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-family: 'General Sans', sans-serif;

  font-size: 1.125em;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  line-height: 1.5rem;
}
